<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.tom.mapper.LevelMapper">

    <!--
        xyy
    -->
     <select id="updateStudentLevel" statementType="CALLABLE" >
        {CALL updateStudentLevel()}
      </select>

    <update id="updateLevelByLevelID" parameterType="int">
        UPDATE tb_level SET salary=#{salary} WHERE levelID = #{levelID}
    </update>
</mapper>