<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.tom.mapper.StipulationRecordMapper">
    <!--
        mapper:赏罚记录
        author:lxl
    -->

    <!--添加学生赏罚记录信息-->
    <insert id="addStipulationRecord" parameterType="StipulationRecord">
        insert into tb_stipulation_record(srUUID, stuUUID, sID, srName, remark, createTime)
        value(#{srUUID},#{stuUUID},#{sID},#{srName},#{remark},DATE_FORMAT(NOW(),'%Y-%m-%d'))
    </insert>

    <!--根据查询条件查询学生赏罚信息列表-->
    <select id="queryStudentStipulationInfoByConditions" resultType="Map">
        SELECT student.stuName,
               stipulation.sName,
               stipulation_record.srName,
               stipulation_record.remark,
               DATE_FORMAT(stipulation_record.createTime,'%Y-%m-%d') as createTime
        FROM tb_student student
        INNER JOIN (SELECT stuUUID,sID,srName,remark,createTime
        FROM tb_stipulation_record WHERE stuUUID = #{queryVo.stuUUID}
        AND createTime BETWEEN #{queryVo.beginTime} AND #{queryVo.endTime}) stipulation_record
        ON student.stuUUID = stipulation_record.stuUUID
        INNER JOIN tb_stipulation stipulation
        ON stipulation.sID = stipulation_record.sID
        INNER JOIN tb_stipulation_classify stipulation_classify
        ON stipulation.scID = stipulation_classify.scID
        WHERE stipulation_classify.flag = #{queryVo.flag}
    </select>
</mapper>