<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.tom.mapper.StudentMapper">

    <!--
        xyy
    -->

    <insert id="addStudent" parameterType="Student">
        insert into tb_student(stuUUID,stuName,stuNo,classUUID,email) values
        (#{stuUUID},#{stuName},#{stuNo},#{classUUID},#{email})
    </insert>

    <insert id="addStuPosition" parameterType="String">
        INSERT INTO tb_stu_position(stuUUID) VALUES(#{stuUUID})
    </insert>
</mapper>